<!DOCTYPE html>
<html>
<head>
    <title>Innovacreation Web Platform</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- UI Kit -->
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>

    <!-- Vue.js -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <input v-model="createNew.name" />
            <input v-model="createNew.repo" />
            <input v-model="createNew.desc" />
            <input v-model="createNew.parent" />
            <button class="uk-button uk-button-default" v-on:click="createProject">Create</button>
        </div>
        <project v-for="(proj, id) in projects" v-bind:proj="proj" v-bind:id="id"></project>
    </div>
    <script src="app.js"></script>
</body>
</html>